:root{
    /*màu nền button*/
    --button-bg-color: rgb(59, 70, 94);
    /*màu nền button khi hover*/
    --button-bg-color-hover: rgb(74, 80, 104);
    /*màu chữ lớn*/
    --text-big-color:rgb(95, 105, 110);
    /*màu chữ thường*/
    --text-normal-color:#858fa0;
}

/*============================ đánh dấu trang ============================*/

/*div cha*/
.breadcrumb {
    margin-top: 20px;
}

/*cho li lên cùng 1 hàng*/
.breadcrumb ul li {
    display: inline;
    font-size: 15px;
}

/*ở phía sau của li đầu tiên*/
.breadcrumb li:first-child::after {
    color: #b6af96;
    content: ">";
    padding-left: 5px;
    padding-right: 5px;
}

/*li đầu tiên*/
.breadcrumb li:first-child {
    color: #999999;
}

/*li cuối cùng*/
.breadcrumb li:last-child {
    color: #5a5a5a;
}

/*============================ đường viền dưới đánh dấu trang ============================*/
.border-bottom-breadcrumb{
    border-bottom: 1px solid #e0dcdc;
    margin-top: 5px;
}

/*============================ tiêu đề trang web ============================*/
.title-page{
    font-weight: 600;
    font-size: 26px;
    color: rgb(167, 175, 180);
    margin-top: 15px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
}

/*============================ signup warpper ============================*/
.signup-warpper{
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px 40px;
    height: 430px;
    margin-top: 50px;
}

.signup-title{
    color: var(--text-normal-color);
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}

.signup-top,
.signup-mid,
.signup-bottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px;
}

.signup{
    display: flex;
    flex-direction: column;
}

.signup label{
    font-size: 14px;
    font-weight: 500;
    color: var(--text-normal-color);
    margin-bottom: 10px;
}

.signup input[type="text"],
.signup input[type="email"],
.signup input[type="password"],
.signup input[type="tel"]{
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 10px;
    border: none;
    border: 1px solid #e7e7e7;
    outline: none;
    margin-bottom: 20px;
}

.border-center-login{  
    border-right: 1px solid #e7e7e7;
    margin: auto;
}

.border-bottom-signup{
    margin-top: 20px;
    border: 0;
    border-top: 1px solid #e7e7e7;
}

.btn-signup button{
    border: none;
    background-color: var(--button-bg-color);
    color: #fff;
    padding: 8px 16px;
    float: right;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-signup button:hover{
    background-color: var(--button-bg-color-hover);
}


/*============================ quay lại đăng nhập & nút đăng ký ============================*/
/*div chứa quay lại dn và nút submit*/
.signin-btnSignup{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.back-signin{
    color: var(--text-normal-color);
    font-size: 15px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.back-signin::before{
    content: '\f177';
    margin-right: 5px;
    font-family: FontAwesome;
}