:root{
    /*màu nền button*/
    --button-bg-color: rgb(59, 70, 94);
    /*màu nền button khi hover*/
    --button-bg-color-hover: rgb(74, 80, 104);
    /*màu chữ lớn*/
    --text-big-color:rgb(95, 105, 110);
    /*màu chữ thường*/
    --text-normal-color:#858fa0;
}

/*============================ đánh dấu trang ============================*/

/*div cha*/
.breadcrumb {
    margin-top: 20px;
}

/*cho li lên cùng 1 hàng*/
.breadcrumb ul li {
    display: inline;
    font-size: 15px;
}

/*ở phía sau của li đầu tiên*/
.breadcrumb li:first-child::after {
    color: #b6af96;
    content: ">";
    padding-left: 5px;
    padding-right: 5px;
}

/*li đầu tiên*/
.breadcrumb li:first-child {
    color: #999999;
}

/*li cuối cùng*/
.breadcrumb li:last-child {
    color: #5a5a5a;
}

/*============================ đường viền dưới đánh dấu trang ============================*/
.border-bottom-breadcrumb{
    border-bottom: 1px solid #e0dcdc;
    margin-top: 5px;
}

/*============================ tiêu đề trang web ============================*/
.title-page{
    font-weight: 600;
    font-size: 26px;
    color: rgb(167, 175, 180);
    margin-top: 15px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 50px;
}



.forgot-pass-warpper{
    width: 40%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px 40px;
}


.text-normal{
    color: var(--text-normal-color);
    font-size: 15px;
}


.border-bottom{
    width: 100%;
    border-bottom: 1px solid #e0dcdc;
    margin-top: 20px;
}



.input-email{
    margin-top: 20px;
    border: 1px solid rgb(193, 189, 197);
}

.input-email input{
    width: 100%;
    padding: 12px 20px;
    border: none;
    outline: none;
}

.btn-submit{
    margin-top: 20px;
}

.btn-submit button{
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    font-size: 15px;
    background-color: var(--button-bg-color);
    width: 30%;
    padding: 9px 17px;
}

.btn-submit button:hover{
    background-color: var(--button-bg-color-hover);
}