


/*tablets*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {

    /*============================ signup warpper ============================*/
    .signup-warpper{
        width: 80%;
        height: 650px;
    }

    .signup-title{
        display: none;
    }

    .signup-top,
    .signup-mid,
    .signup-bottom{
        display: unset;
    }

}

/*mobile*/
@media only screen and (max-width: 767px) {

    /*============================ signup warpper ============================*/
    .signup-warpper{
        width: 90%;
        height: 650px;
    }

    .signup-title{
        display: none;
    }

    .signup-top,
    .signup-mid,
    .signup-bottom{
        display: unset;
    }

    .title-page{
        font-size: 20px;
        letter-spacing: 2px;
    }
}

